


  .header-container{
    display:flex;
    align-items: center;
    width: 1158px;
    padding:0 15px;
  }

  .nav-list{
    display:flex;
    align-items: center;
    gap:40px;
  }





.nav-item {
}




.contacts-list {
    gap:40px;
    
}

.contacts-item {
}



.hero{
 background: #2e2f42;
 padding: 188px 0;
 background-image:linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/office.jpg);
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 max-width: 1440px;
 margin:0 auto;
}

.hero-title{
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
max-width: 496px;
margin:0 auto;
 margin-bottom: 48px;
}

.hero-btn{
font-family: "Roboto", sans-serif;  
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
background-color: #4D5AE5;
cursor: pointer;
color: #fff;
display:block;
padding:16px 32px;
border-radius:4px;
border:none;
margin:0 auto;
min-width: 169px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus{
background-color: #404BBF; 
}

.solution{
    display:flax;
    align-items: center;
    padding: 120px 0;
  
}

  .solution-item{ 
    width: calc((100% - 72px) / 4); 
  }
  .icon-list {
    display: flex;
    justify-content: center;
    gap:24px;
    margin-top: 8px;
}
.icon-item {
    width: 40px;
    height: 40px;
   
}

.icon-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-link:hover{
background-color: #404bbf;
}
.icon-link:focus{
  background-color: #404bbf;
}

.team-icon-social {
    fill:#f4f4fd;
}

.solution-list{
    display: flex;
    gap:24px;  
}
.solution-icon{

}
.solution-icon-pic{
    display: flex;
    background: #f4f4fd;
    border: 1px solid #8e8f99;
border-radius: 4px;
width: 264px;
height: 112px;
align-items: center;
justify-content: center;
margin-bottom: 8px; 
}
    
.solution-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.solution-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px; 
}

.solution-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.team {
background: #f4f4fd;
padding: 120px 0;

}
.team-list{ 
     display:flex;
    gap:24px;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize; 
    margin-bottom: 72px;
}
.team-item{
    background-color: #FFF;
    width: calc((100% - 72px) / 4); 
    border-radius:0 0 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-pictures { 
}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}
.conteiner-text{
    padding:32px 0;
}

.portfolio { 
    padding-top: 120px;
    padding-bottom: 120px; 
}

.page-portfolio{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
     
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom:72px;
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.portfolio-overview{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
   border-top: none;
}
.portfolio-item{
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .portfolio-item-text{
transform: translateY(0);

}
.portfolio-item-wrap{
position: relative;
overflow: hidden;
}

.portfolio-item-text{
position:absolute;
top:0;
left:0;
background-color: #4D5AE5;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
padding: 40px 32px;
height: 100%;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer {
background-color: #2e2f42;
padding: 100px 0;
}
.footer-container{
    display:flex;
    align-items: baseline;
}
.footer-logo {  
    display:inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
}
.footer-logo-par{
    margin-right: 120px
}

.footer-logo-part {
color: #f4f4fd;
}
.footer-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd; 
    width: 264px;
}
.footer-logo-par{

}
.footer-social {
}

.footer-text-social {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}
.footer-icon-list {
    display: flex;
    gap:16px;
}
.footer-form{
    margin-left:auto;
}
.footer-icon-item {
    width: 40px;
    height: 40px;
} 

.footer-icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-link:hover,
.footer-icon-link:focus{
    background-color: #31d0aa;
}

.footer-icon-social {
    fill:#f4f4fd ;
}
.title-subscibe{
    margin-bottom: 16px;
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
}
.footer-input{
    display:flex;
    gap: 24px;


}
.footer-input-email{
    width: 264px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: transparent;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
padding-left: 16px; 
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
color: #ffffff; 
}

    .footer-input-email::placeholder{
    color: #ffffff; 
}
.footer-btn-submit{
    display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
gap: 16px;
border-radius: 4px;
min-width: 165px;
height: 40px;
background-color: #4d5ae5;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
color: #fff;
cursor:pointer;
border: none;
}
.footer-icon{
    margin-left: 16px; 
    fill: #fff;
}


.backdrop{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open{ 
    opacity: 1;
    visibility:visible ;
    pointer-events: auto;
}

.modal{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc; 
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2); 
    border-radius: 4px; 
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    padding: 72px 24px 24px 24px;
}
.backdrop:not(.is-open) .modal{
    transform: translate(-50%,-50%) scale(1.5);
}
.modal-close{
    position: absolute;
    top:24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1); 
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover,
.modal-close:focus{
    background-color: #404bbf;
    border:none;
    fill:#FFFFFF
}
.modal-btn-close{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.modal-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align:center;
    letter-spacing: 0.02em;
    color:#2E2F42;
    margin-bottom: 16px; 
}

.form-field{
    margin-bottom:8px;
}
.form-label{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color:#8e8f99; 
    display: block;
    margin-bottom: 4px;
}
.input-wrapper{
    position: relative;
}
.form-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4); 
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.form-input:hover,
.form-input:focus{
    border-color:#4D5AE5; 
   
}
.form-icon{
    position: absolute;
    left:16px;
    top:50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.form-field-check{
margin-bottom: 24px;
}

input:focus + .form-icon{
 fill:#4D5AE5;
}
.form-field-textarea{
    margin-bottom: 16px;
}

.form-input-textarea{
    width: 100%;
    height: 120px;
    font-size: 12px; 
    line-height: 1.17; 
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px; 
    outline: transparent;
    resize: none; 
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-textarea:focus{
    border-color: #4D5AE5; 
}

.modal-check-text{
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
}
.modal-check-text span{ 
    width: 16px; 
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
 border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
 fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 fill: transparent;
}

.modal-check:checked + .modal-check-text span {
    background-color:#404BBF;
    border:none;
    fill:#F4F4FD;
}
.modal-terms{
    color:#4d5ae5; 
}
.button-send{
    display: block;
align-items: center;
justify-content: center;
border-radius: 4px;
padding: 16px 32px;
min-width: 169px;
height: 56px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background-color: #4d5ae5;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
color: #fff;
border:none;
cursor:pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
margin:0 auto;
}
.button-send:hover,
.button-send:focus{
  background-color: #404BBF;  
}
